name: Run MyApp

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *'  # اجرای کد هر ساعت

jobs:
  run-myapp:
    runs-on: ubuntu-latest

    env:
      EMAIL_SENDER: ${{ secrets.SENDER_EMAIL }}
      EMAIL_RECEIVER: ${{ secrets.RECEIVER_EMAIL }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      HTTP_PROXY: http://62.72.56.132:80
      HTTPS_PROXY: http://62.72.56.132:80
      NODE_VERSION: 20  # تنظیم نسخه‌ی Node.js به 20

    steps:
    - name: Checkout code
      uses: actions/checkout@v3  # به‌روزرسانی به v3

    - name: Set up Python
      uses: actions/setup-python@v4  # به‌روزرسانی به v4
      with:
        python-version: '3.8'

    - name: Configure proxy
      run: |
        echo "Acquire::http::Proxy \"$HTTP_PROXY\";" | sudo tee /etc/apt/apt.conf.d/proxy.conf
        echo "Acquire::https::Proxy \"$HTTPS_PROXY\";" | sudo tee -a /etc/apt/apt.conf.d/proxy.conf

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ccxt pandas mplfinance numpy

    - name: Run MyApp
      run: |
        python main.py
